[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
keras-rl2 = "*"
gymnasium = {extras = ["box2d"], version = "*"}
stable-baselines3 = {extras = ["extra"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
