[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
gym = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
keras-rl2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
